<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
  <a href="/">Voltar</a>
  <h3>{{ status }}</h3>
  <label for="id_login">Login</label>

  {% if status %}
    <div style="background-color: #f8d7da; color: #721c24; padding: 10px; margin-bottom: 15px; border-radius: 4px; text-align: center;">
        {{ status }}
    </div>
{% endif %}

  <form method="POST" action="/login">
    
    <div class="input-group">
        <label for="id_usuario">Usuário</label>
        <input type="text" name="usuario" id="id_usuario" placeholder="Digite seu usuário" required>
    </div>

    <div class="input-group">
        <label for="id_senha">Senha</label>
        <input type="password" name="senha" id="id_senha" placeholder="************" required>
    </div>

    <button type="submit" class="btn-login">ENTRAR</button>
</form>

{% if status %}
    <p style="color: red; text-align: center; margin-top: 10px;">{{ status }}</p>
{% endif %}
</body>
</html>