<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bodyferramentas.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Catálogo JB - Compra e Aluguel</title>
</head>
<body class="dark-theme">
    <header class="header-main">
        <div class="nav-icons">
            <a href="{{ url_for('main_page') }}" class="icon-link"><i class="fa-solid fa-arrow-left"></i></a>
        </div>
        <div class="logo">
            <img src="{{ url_for('static', filename='jb_logo.png') }}" alt="JB Ferramentas">
        </div>
        <div class="user-access">
            <a href="{{ url_for('main_page') }}" class="icon-link"> <i class="fa-solid fa-user"></i></a>
        </div>
    </header>

    <main class="container">
        <section class="welcome-section">
            <h1>Catálogo de Ferramentas</h1>
            <p>Escolha entre comprar equipamentos novos ou alugar por diária.</p>
        </section>

        <div class="filter-bar">
            <button class="filter-btn active">Todos</button>
            <button class="filter-btn">Para Comprar</button>
            <button class="filter-btn">Para Alugar</button>
        </div>

        <div class="grid-ferramentas">
            {% for item in ferramentas %}
            <div class="card-ferramenta">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='produto3.png') }}" alt="{{ item.nome }}">
                </div>
                <div class="info">
                    <div class="text-info">
                        <p class="tool-name">{{ item.nome }}</p>
                        <span class="tool-price">R$ {{ item.preco }}{% if item.tipo|lower == 'alugar' %}/dia{% endif %}</span>
                    </div>
                    
                    <button class="btn-action btn-{{ item.tipo|lower }}">{{ item.tipo }}</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>